@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

body {
    background: hsl(0, 0%, 50%);
    transition: background 3s linear;
}

.textarea--mods {
    background-color: rgba(0, 0, 0, 0);
    color: hsl(0, 0%, 100%);
    transition: color 2s linear;
    max-width: 576px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: 'Noto Serif', serif;
}

::placeholder {
    color: hsl(0, 0%, 100%);
}